@model Application.ViewModels.SerieViewModel

@{
    ViewData["Title"] = Model.Title; 
}

<div class="container-fluid">
    <div class="row mt-5">
      
        <div class="col-md-8">
            <h1 class="fw-bold mt-4">@Model.Title</h1> 
           
            <div class="video-container mt-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="800" height="450" class="embed-responsive-item" src="@Model.VideoUrl" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        
        <div class="col-md-4" style="margin-top: 35px;">
            <div class="mt-5" ">
                <h5 class="fw-bold">Descripción:</h5>
                <p>@Model.Description</p> 
            </div>
        </div>
    </div>
</div>

<div class="mt-4 text-start ms-2">
    <a href="/Home/Index" class="btn btn-warning text-light fs-4">VOLVER AL INICIO</a>

</div>

